@import "tooltips/measurements.sass"

@import "colors/glass/grayscale.sass"
@import "colors/glass/rainbow.sass"

@import "colors/solid/grayscale.sass"
@import "colors/solid/rainbow.sass"

@import "panels/all.sass"

*

    margin: 0px
    box-sizing: border-box

::-webkit-scrollbar

    display: none

@font-face

    font-family: "polyfont"
    src: url("../fonts/TTF/polyfont.ttf") format("truetype")

body

    font-family: "polyfont"
    cursor: default

canvas

    outline: none
    cursor: move

label, input, img, h1, h2, h3, h4, h5, h6, p, a

    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -o-user-select: none
    user-select: none

    -webkit-user-drag: none
    -khtml-user-drag: none
    -moz-user-drag: none
    -o-user-drag: none
    user-drag: none

h1

    font-size: 34px

h2

    font-size: 28px

h3

    font-size: 22px

h4

    font-size: 16px

p, label

    font-size: 14px

a:hover

    cursor: pointer

#navbar

    width: 100%

    display: flex
    position: fixed
    align-items: center

    background-color: $black-solid

    #menu

        width: 50px
        height: 50px

    #menu:hover

        cursor: context-menu

    #title

        color: $white-solid

        position: absolute

        left: 50%
        max-width: 50%
        transform: translate(-50%, 0%)

        span

            cursor: text
            outline: none

            display: block
            overflow: hidden

            white-space: pre

#forkme

    position: fixed

    top: 0px
    right: 0px

    width: 150px
    height: 150px

    z-index: 999999999

    clip-path: polygon(15px 0px, 60px 0px, 150px 90px, 150px 135px)

#metabox

    position: fixed

    left: 0%
    top: 100%

    z-index: 999999999

    transform: translate(0%, -100%)

    #name

        margin: 5px 15px

    .databox

        margin: 5px 10px

        display: inline-block

        p

            margin: 5px

            span.label

                font-weight: bold

        p.title

            margin: 0px 5px 10px

            font-weight: bold

        #x span.label

            color: $red-solid

        #y span.label

            color: $green-solid

        #z span.label

            color: $blue-solid

#help

    cursor: pointer
    position: fixed

    width: 30px
    height: 30px

    z-index: 999999999

    top: calc(100% - 30px)
    left: calc(100% - 30px)

    transform: translate(-50%, -50%)
