root = true

[*] # All
charset = utf-8
indent_size = 4
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true

[*.yml] # YML
indent_size = 2
insert_final_newline = true

[*.pug] # Pug
insert_final_newline = true

[*.sass] # Sass
insert_final_newline = true

[*.coffee] # CoffeeScript
insert_final_newline = true