### Libs ###
app/libs

### Config ###
*.bash_history
*.sonarlint
*.DS_Store
*.vscode
*.cache
*.local
*.npm
*.env
venv

### Python ###
*.ipynb_checkpoints
*.python_history
__pycache__

### Scripts ###
app/scripts/*/*.js
app/scripts/*/*/*.js
app/scripts/*/*/*/*.js
app/scripts/*/*/*/*/*.js

### Styles ###
*.css.map
*.sass.map
*.sass-cache
app/styles/*.css
app/styles/*/*.css
app/styles/*/*/*.css
app/styles/*/*/*/*.css
app/styles/*/*/*/*/*.css

### Models ###
app/things
*.3mf
*.amf
*.dae
*.drc
*.fbx
*.gcode
*.gltf
*.ipt
*.mmd
*.obj
*.ply
*.scad
*.stl
*.stp
*.wrl