### Config ###
.env
venv
.DS_Store
.sonarlint

### Models ###
*.gcode
*.scad
*.stp
*.ipt

### Libs ###
app/libs

### Python ###
__pycache__
*.ipynb_checkpoints

### Styling ###
app/css
*.css.map
*.sass.map
.sass-cache