@import "../colors/glass/grayscale.sass"
@import "../colors/glass/rainbow.sass"

@import "../colors/solid/grayscale.sass"
@import "../colors/solid/rainbow.sass"

.measurement.tooltip

    padding: 3px

    position: fixed

    border-radius: 5px
    border: 1px solid $black-solid

    background-color: $white-solid

    transform: translate(-50%, -50%)

#x.tooltip.measurement

    border-color: $red-solid

#y.tooltip.measurement

    border-color: $green-solid

#z.tooltip.measurement

    border-color: $blue-solid
