@import "../tooltips/forkme.sass"
@import "../tooltips/help.sass"
@import "../tooltips/navbar.sass"

@import "../colors/glass/grayscale.sass"
@import "../colors/glass/rainbow.sass"

@import "../colors/solid/grayscale.sass"
@import "../colors/solid/rainbow.sass"

body

    background-size: cover
    background-position: center
    background-attachment: fixed
    background-repeat: no-repeat
    background-image: url("../../../imgs/theme/wallpaper/circuit_blueprint.jpeg")
