extends ../core.pug

block content

    script.

        window.location.page = "anvil"
        window.location.name = "Polysmith"

    script(src="../../scripts/bundle.js")

    link(rel="stylesheet", type="text/css", href="../../styles/pages/anvil.css")
