extends ../core.pug

block content

    script.

        window.location.page = "docs"
        window.location.name = "Documentation"

    script(src="../../scripts/bundle.js")

    link(rel="stylesheet", type="text/css", href="../../styles/pages/docs.css")
