extends ../core.pug

block content

    script.

        window.location.page = "tutorials"
        window.location.name = "Tutorials"

    script(src="../../scripts/bundle.js")

    link(rel="stylesheet", type="text/css", href="../../styles/pages/tutorials.css")
