#lights.panel

    visibility: hidden

    top: 50%
    left: 50%

    transform: translate(-50%, -50%)

    img

        display: block

    img.lights

        margin: 10px

        width: 100px
        height: 100px

    img.reset

        position: fixed

        margin: 7px

        top: 0px
        right: 0px

        width: 14px
        height: 14px

        cursor: pointer

    p#none

        margin: 10px auto

        text-align: center

    img.add

        margin: 10px auto

        width: 22.5px
        height: 22.5px

        cursor: pointer
