@import "colors/solid/grayscale.sass"
@import "colors/solid/rainbow.sass"

@import "panels/all.sass"

*

  margin: 0px
  box-sizing: border-box

::-webkit-scrollbar

  display: none

@font-face

  font-family: "polyfont"
  src: url("../fonts/TTF/polyfont.ttf") format("truetype")

body

  font-family: "polyfont"

canvas

  outline: none

label, img, h1, h2, h3, h4, h5, h6, p, a

  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -o-user-select: none
  user-select: none

  -webkit-user-drag: none
  -khtml-user-drag: none
  -moz-user-drag: none
  -o-user-drag: none
  user-drag: none

h1

  font-size: 34px

h2

  font-size: 28px

h3

  font-size: 22px

h4

  font-size: 16px

p, label

  font-size: 14px

a:hover

  cursor: url('../imgs/icons/cursors/pointer.png'), pointer

#nav

  width: 100%

  display: flex
  position: fixed
  align-items: center

  background-color: $black

  #menu

    width: 50px
    height: 50px

  #menu:hover

    cursor: url('../imgs/icons/cursors/pointer.png'), pointer

  #title

    color: $white
    position: absolute

    left: 50%
    transform: translate(-50%, 0%)

#forkme

  position: fixed

  top: 0px
  right: 0px
