@import "../colors/glass/grayscale.sass"
@import "../colors/glass/rainbow.sass"

@import "../colors/solid/grayscale.sass"
@import "../colors/solid/rainbow.sass"

@import "./camera.sass"
@import "./context.sass"
@import "./lights.sass"
@import "./menu.sass"
@import "./mesh.sass"
@import "./meshes.sass"
@import "./settings.sass"
@import "./shapes.sass"
@import "./shortcut.sass"

.panel

    position: fixed

    background: $light-gray-glass
    backdrop-filter: blur(3px)

    border: 1px solid $black
    border-radius: 5px

    padding: 5px

    .close

        position: fixed

        margin: 5px

        opacity: 0

        top: 0px
        left: 0px

        width: 7px
        height: 7px

        cursor: pointer

    .slider

        height: 7px

        outline: none
        pointer-events: none

        border: 1px solid $dark-gray !important
        border-radius: 5px !important

        span

            width: 15px
            height: 15px

            outline: none
            pointer-events: auto

            border: none !important
            border-radius: 50% !important

            cursor: pointer

    .slider.disabled

        span

            cursor: not-allowed

.panel:hover

    cursor: grab
