#camera.panel

  visibility: visible

  top: 50%
  left: 10px

  transform: translate(0%, -50%)

  .camera

    display: block

    margin: 10px auto

    width: 100px
    height: 80px

  h4

    text-align: center

    margin: 15px
    margin-bottom: 10px

  input

    display: block

    margin: 15px
    margin-top: 10px

    width: 150px

  input:hover

    cursor: url('../imgs/icons/cursors/grab.png'), grab
