@import "../colors/glass/grayscale.sass"
@import "../colors/glass/rainbow.sass"

@import "../colors/solid/grayscale.sass"
@import "../colors/solid/rainbow.sass"

#mesh.panel

  width: 250px

  transform: translate(-50%, -50%)

  h3

    margin: 10px

  h3, h4

    text-align: center

  h4, p, input, button

    margin: 5px

  span

    margin: 0px 5px

    display: flex
    align-items: center
    justify-content: center

    #x

      color: $red

    #y

      color: $green

    #z

      color: $blue

  input, button

    border: 1px solid $black
    border-radius: 5px

  input

    width: 140px
    padding: 3px

    appearance: textfield

  input:focus

    outline: none

  input.disabled

    color: $dark-gray

  input.disabled:hover

    cursor: url('../imgs/icons/cursors/not-allowed.png'), not-allowed

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button

    -webkit-appearance: none

  button#plus

    background-color: $green-glass

  button#minus

    background-color: $red-glass

  button#plus.disabled,
  button#minus.disabled

    background-color: $dark-gray-glass

  button:hover

    cursor: url('../imgs/icons/cursors/pointer.png'), pointer

  button.disabled:hover

    cursor: url('../imgs/icons/cursors/not-allowed.png'), not-allowed
