#mesh.panel

  transform: translate(-50%, -50%)

  h3

    text-align: center

  input[type=number]

    -moz-appearance: textfield

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button

    -webkit-appearance: none
