#shapes.panel

  visibility: visible

  top: calc(100% - 10px)
  left: 50%

  transform: translate(-50%, -100%)

  display: flex
  align-items: center
  justify-content: center

  img

    margin: 10px

  img:hover

    cursor: pointer

  img.shape

    width: 65px
    height: 65px

  img.nav

    width: 25px
    height: 25px
