div(id="navbar")

    img(title="Polysmith", id="anvil", class="icon", src="../../imgs/theme/nav/anvil/white.png")
    img(title="Documentation", id="docs", class="icon", src="../../imgs/theme/nav/docs/white.png")
    img(title="Tutorials", id="tutorials", class="icon", src="../../imgs/theme/nav/tutorials/white.png")

    h1(id="title")

        span(contenteditable="true") Polysmith
