doctype html

html(lang="en-US", dir="ltr")

    head

        title="Polysmith"

        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        link(rel="shortcut icon", id="dark-scheme-icon", href="imgs/theme/favicons/silhouette/white.png")
        link(rel="shortcut icon", id="light-scheme-icon", href="imgs/theme/favicons/silhouette/black.png")

        link(rel="stylesheet", type="text/css", href="../styles/core.css")

        script.

            const POLY = {}

            const platform = !{JSON.stringify(platform)}

    body

        script(src="../scripts/bundle.js")
